.app_up_block{
    background-color: #336699;
    max-width: 100%;
    height: 80vh;
}

.app_middle_block{
    background-color: #000000;
    max-width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.app_bottom_block_up{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}
.app_bottom_block{
    background-color: #DAF7DC;
    max-width: 100%;
    height: 100vh;
    
}
.app_main_block{
    margin-top:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.app_up_block h3{
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    
    color: white;
    font-family: 'Unbounded'
}
.app_main_block h1{
  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    color: #DAF7DC;
    font-family: 'Unbounded'
}
.app_middle_block_info{
    width: 20em;
    height: 30em;
    /* background-color: #336699; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: 'Unbounded';
    font-size: 2vh;
    text-align: center;
}

.app_meddle_block_info_img{
    width: 30vh;
    height: 30vh;
    background-color: white;
    border-radius: 2vh;
}


#app_bottom{
    color: #336699;
}
.app_bottom_block_down h1{
    width: 30em;
    /* background-color: #336699; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    color: Black;
    font-family: 'Unbounded';
    font-size: 4vh;
    margin-left: 4vh;
    margin-bottom: 2vh;
}
.navlink_bottom{
    display: flex;
    flex-direction: row;
}
.login_link{
    margin-left: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Unbounded';
    width: 14em;
    height: 2em;
    background-color: #336699;
}

.register_link{
    margin-left: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Unbounded';
    width: 14em;
    height: 2em;
    background-color: #2F4858;
}
.oncliocbutton{
    width: 300px;
    height: 50px;
}
.search_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search_center p {
    font-size: 20px;
    color: white;
}
.logIn_user_name_input {
  
    border: none;
    width: 90%;
    border-bottom: 1px solid gray;
    padding: 5px;
    transition: border-color 0.3s;
    outline: none;
  }
  
  .logIn_user_name_input:hover {
    border-color: blue;
  }
  .input_block{
    margin-top: 20%;
    width: 70%;
  }
  .showmore{
    margin-top: 10px;
    margin-left: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Unbounded';
    width: 14em;
    height: 2em;
    background-color: #336699;
    color: white;
    margin-bottom: 50px;
  }